* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 90%;
    margin-top: 15px;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    &__navLink  {
        width: 100%;
        & > ul {
            justify-content: end;
        }
    }
}



