.user {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 23%;
    text-align: center;
    line-height: 30px;
    background: greenyellow;
    font-size: 23px;
    font-weight: 700;
}
